In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movie_data = pd.read_csv('C:\\Users\\jaiga\\Downloads\\ml-100k\\ml-100k\\u.data', sep='\t', names=['user_id','movie_id','rating','timestamp'])

In [3]:
movie_info_file = pd.read_csv('C:\\Users\jaiga\\Downloads\\ml-100k\\ml-100k\\u.item', sep='|',names=['movie_id' ,'movie_title' ,'release date' ,'video release date', 
              'IMDb URL' ,'unknown' ,'Action' ,'Adventure' ,'Animation' ,"Children's" ,'Comedy' ,'Crime' ,'Documentary' ,'Drama' , 'Fantasy', 
              'Film-Noir' ,'Horror' ,'Musical' ,'Mystery' ,'Romance' ,'Sci-Fi' ,'Thriller' ,' War ','Western'])

In [4]:
user_info_file = pd.read_csv('C:\\Users\\jaiga\\Downloads\\ml-100k\\ml-100k\\u.user',sep='|',names=['user_id','age','gender','occupation','zip_code'])

In [5]:
movie_data.shape

(100000, 4)

In [6]:
movie_info=movie_info_file.drop(movie_info_file.iloc[:,2:],axis=1)

In [7]:
movie_data=movie_data.merge(movie_info,on="movie_id")
movie_data

,user_id,movie_id,rating,timestamp,movie_title
0,196,242,3,881250949,Kolya (1996)
1,63,242,3,875747190,Kolya (1996)
2,226,242,5,883888671,Kolya (1996)
3,154,242,3,879138235,Kolya (1996)
4,306,242,5,876503793,Kolya (1996)
...,...,...,...,...,...
99995,840,1674,4,891211682,Mamma Roma (1962)
99996,655,1640,3,888474646,"Eighth Day, The (1996)"
99997,655,1637,3,888984255,Girls Town (1996)
99998,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
99999,655,1641,3,887427810,Dadetown (1995)

In [8]:
avg_ratings = pd.DataFrame(movie_data.groupby(['movie_id']).mean()['rating'],columns=['rating'])

In [9]:
rating_count = pd.DataFrame(movie_data.groupby(['movie_id']).count()['rating'])

In [10]:
rating_count.columns=['count']
rating_count

          count
movie_id
1           452
2           131
3            90
4           209
5            86
...         ...
1678          1
1679          1
1680          1
1681          1
1682          1

[1682 rows x 1 columns]

In [11]:
ratings_and_count = avg_ratings.merge(rating_count,on='movie_id')

In [12]:
ratings_and_count

            rating  count
movie_id
1         3.878319    452
2         3.206107    131
3         3.033333     90
4         3.550239    209
5         3.302326     86
...            ...    ...
1678      1.000000      1
1679      3.000000      1
1680      2.000000      1
1681      3.000000      1
1682      3.000000      1

[1682 rows x 2 columns]

In [13]:
user_ratings_table = movie_data.pivot_table(index='user_id', columns='movie_title', values='rating')

In [14]:
user_ratings_table

movie_title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [15]:
ratings_and_count=ratings_and_count.merge(movie_info,on="movie_id")
ratings_and_count.sort_values('count',ascending=False)

,movie_id,rating,count,movie_title
49,50,4.358491,583,Star Wars (1977)
257,258,3.803536,509,Contact (1997)
99,100,4.155512,508,Fargo (1996)
180,181,4.007890,507,Return of the Jedi (1983)
293,294,3.156701,485,Liar Liar (1997)
...,...,...,...,...
1575,1576,1.000000,1,"Hungarian Fairy Tale, A (1987)"
1576,1577,1.000000,1,"Death in the Garden (Mort en ce jardin, La) (1..."
1347,1348,1.000000,1,Every Other Weekend (1990)
1578,1579,1.000000,1,Baton Rouge (1988)
1681,1682,3.000000,1,Scream of Stone (Schrei aus Stein) (1991)

In [16]:
return_of_the_jedi=user_ratings_table['Return of the Jedi (1983)']
return_of_the_jedi

user_id
1      5.0
2      NaN
3      4.0
4      NaN
5      5.0
      ...
939    NaN
940    3.0
941    5.0
942    NaN
943    4.0
Name: Return of the Jedi (1983), Length: 943, dtype: float64

In [17]:
similar_to_returnofthejedi = user_ratings_table.corrwith(return_of_the_jedi)
similar_to_returnofthejedi.sort_values(ascending=False,inplace=True)
similar_to_returnofthejedi = pd.DataFrame(similar_to_returnofthejedi,columns=['correlation_ratings'])

C:\Users\jaiga\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\jaiga\anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [18]:
user_age = user_info_file.drop(user_info_file.iloc[:,2:],axis=1)
user_age

     user_id  age
0          1   24
1          2   53
2          3   23
3          4   24
4          5   33
..       ...  ...
938      939   26
939      940   32
940      941   20
941      942   48
942      943   22

[943 rows x 2 columns]

In [19]:
user_age = movie_data.merge(user_age,on='user_id')
user_age

,user_id,movie_id,rating,timestamp,movie_title,age
0,196,242,3,881250949,Kolya (1996),49
1,196,257,2,881251577,Men in Black (1997),49
2,196,111,4,881251793,"Truth About Cats & Dogs, The (1996)",49
3,196,25,4,881251955,"Birdcage, The (1996)",49
4,196,382,4,881251843,"Adventures of Priscilla, Queen of the Desert, ...",49
...,...,...,...,...,...,...
99995,873,313,5,891392177,Titanic (1997),48
99996,873,326,4,891392656,G.I. Jane (1997),48
99997,873,348,3,891392577,Desperate Measures (1998),48
99998,873,358,2,891392698,Spawn (1997),48
99999,873,342,4,891392698,"Man Who Knew Too Little, The (1997)",48

In [20]:
user_age_table = user_age.pivot_table(index='user_id', columns='movie_title', values='age')
user_age_table

movie_title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,24.0,24.0,NaN,NaN,24.0,24.0,NaN,NaN,...,NaN,NaN,NaN,24.0,24.0,NaN,NaN,NaN,24.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,33.0,NaN,NaN,NaN,NaN,33.0,NaN,NaN,...,NaN,NaN,NaN,33.0,NaN,NaN,NaN,NaN,33.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.0,22.0,NaN,NaN,NaN,NaN

In [21]:
return_of_the_jedi_age = user_age_table['Return of the Jedi (1983)']
return_of_the_jedi_age

user_id
1      24.0
2       NaN
3      23.0
4       NaN
5      33.0
       ...
939     NaN
940    32.0
941    20.0
942     NaN
943    22.0
Name: Return of the Jedi (1983), Length: 943, dtype: float64

In [22]:
age_similarity_of_jedi = user_age_table.corrwith(return_of_the_jedi_age)
age_similarity_of_jedi.sort_values(ascending=False,inplace=True)
age_similarity_of_jedi = pd.DataFrame(age_similarity_of_jedi,columns=['correlation_age'])
age_similarity_of_jedi

C:\Users\jaiga\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\jaiga\anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                             correlation_age
movie_title
King of the Hill (1993)                                  1.0
Mrs. Brown (Her Majesty, Mrs. Brown) (1997)              1.0
Muppet Treasure Island (1996)                            1.0
Multiplicity (1996)                                      1.0
Mulholland Falls (1996)                                  1.0
...                                                      ...
Woman in Question, The (1950)                            NaN
Wooden Man's Bride, The (Wu Kui) (1994)                  NaN
Yankee Zulu (1994)                                       NaN
You So Crazy (1994)                                      NaN
� k�ldum klaka (Cold Fever) (1994)                       NaN

[1664 rows x 1 columns]

In [23]:
similar_to_returnofthejedi = similar_to_returnofthejedi.merge(age_similarity_of_jedi,on=['movie_title'])
similar_to_returnofthejedi

                                         correlation_ratings  correlation_age
movie_title
Stripes (1981)                                           1.0              1.0
Guantanamera (1994)                                      1.0              1.0
Manny & Lo (1996)                                        1.0              1.0
Quiet Room, The (1996)                                   1.0              1.0
Return of the Jedi (1983)                                1.0              1.0
...                                                      ...              ...
Woman in Question, The (1950)                            NaN              NaN
Wooden Man's Bride, The (Wu Kui) (1994)                  NaN              NaN
Yankee Zulu (1994)                                       NaN              NaN
You So Crazy (1994)                                      NaN              NaN
� k�ldum klaka (Cold Fever) (1994)                       NaN              NaN

[1664 rows x 2 columns]

In [24]:
genre_table = movie_info_file.pivot_table(index='movie_title',values=movie_info_file.columns[6:])
genre_table

,War,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,Western
movie_title,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1-900 (1994),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
101 Dalmatians (1996),0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
12 Angry Men (1957),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
187 (1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
"Young Poisoner's Handbook, The (1995)",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Zeus and Roxanne (1997),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
� k�ldum klaka (Cold Fever) (1994),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [25]:
genre_dict = {'movie_title':[], 'info':[]}
for x in genre_table.index:
    if x not in genre_dict['movie_title']:
        genre_dict['movie_title'].append(x)
        genre = ''
        for y in genre_table.columns:
            if genre_table.loc[x][y] == 1:
                genre += y + ' '
        genre_dict['info'].append(genre)
genre_dict

{'movie_title': ["'Til There Was You (1997)",
  '1-900 (1994)',
  '101 Dalmatians (1996)',
  '12 Angry Men (1957)',
  '187 (1997)',
  '2 Days in the Valley (1996)',
  '20,000 Leagues Under the Sea (1954)',
  '2001: A Space Odyssey (1968)',
  '3 Ninjas: High Noon At Mega Mountain (1998)',
  '39 Steps, The (1935)',
  '8 1/2 (1963)',
  '8 Heads in a Duffel Bag (1997)',
  '8 Seconds (1994)',
  'A Chef in Love (1996)',
  'Above the Rim (1994)',
  'Absolute Power (1997)',
  'Abyss, The (1989)',
  'Ace Ventura: Pet Detective (1994)',
  'Ace Ventura: When Nature Calls (1995)',
  'Across the Sea of Time (1995)',
  'Addams Family Values (1993)',
  'Addicted to Love (1997)',
  'Addiction, The (1995)',
  'Adventures of Pinocchio, The (1996)',
  'Adventures of Priscilla, Queen of the Desert, The (1994)',
  'Adventures of Robin Hood, The (1938)',
  'Affair to Remember, An (1957)',
  'African Queen, The (1951)',
  'Afterglow (1997)',
  'Age of Innocence, The (1993)',
  'Aiqing wansui (1994)',
  'Air Bud (1997)',
  'Air Force One (1997)',
  'Air Up There, The (1994)',
  'Airheads (1994)',
  'Akira (1988)',
  'Aladdin (1992)',
  'Aladdin and the King of Thieves (1996)',
  'Alaska (1996)',
  'Albino Alligator (1996)',
  'Alice in Wonderland (1951)',
  'Alien (1979)',
  'Alien 3 (1992)',
  'Alien: Resurrection (1997)',
  'Aliens (1986)',
  'All About Eve (1950)',
  'All Dogs Go to Heaven 2 (1996)',
  'All Over Me (1997)',
  'All Things Fair (1996)',
  'Alphaville (1965)',
  'Amadeus (1984)',
  'Amateur (1994)',
  'Amazing Panda Adventure, The (1995)',
  'American Buffalo (1996)',
  'American Dream (1990)',
  'American President, The (1995)',
  'American Strays (1996)',
  'American Werewolf in London, An (1981)',
  'American in Paris, An (1951)',
  'Amistad (1997)',
  "Amityville 1992: It's About Time (1992)",
  'Amityville 3-D (1983)',
  'Amityville Curse, The (1990)',
  'Amityville Horror, The (1979)',
  'Amityville II: The Possession (1982)',
  'Amityville: A New Generation (1993)',
  'Amityville: Dollhouse (1996)',
  'Amos & Andrew (1993)',
  'An Unforgettable Summer (1994)',
  'Anaconda (1997)',
  'Anastasia (1997)',
  'Andre (1994)',
  'Angel Baby (1995)',
  'Angel and the Badman (1947)',
  'Angel on My Shoulder (1946)',
  'Angela (1995)',
  'Angels and Insects (1995)',
  'Angels in the Outfield (1994)',
  'Angus (1995)',
  'Anna (1996)',
  'Anna Karenina (1997)',
  'Anne Frank Remembered (1995)',
  'Annie Hall (1977)',
  'Another Stakeout (1993)',
  "Antonia's Line (1995)",
  'Aparajito (1956)',
  'Apartment, The (1960)',
  'Apocalypse Now (1979)',
  'Apollo 13 (1995)',
  'Apostle, The (1997)',
  'Apple Dumpling Gang, The (1975)',
  "April Fool's Day (1986)",
  'Apt Pupil (1998)',
  'Aristocats, The (1970)',
  'Army of Darkness (1993)',
  'Around the World in 80 Days (1956)',
  'Arrival, The (1996)',
  'Arsenic and Old Lace (1944)',
  'As Good As It Gets (1997)',
  'Assassins (1995)',
  'Assignment, The (1997)',
  'Associate, The (1996)',
  'Audrey Rose (1977)',
  'August (1996)',
  'Austin Powers: International Man of Mystery (1997)',
  'Awfully Big Adventure, An (1995)',
  'Ayn Rand: A Sense of Life (1997)',
  'B*A*P*S (1997)',
  'B. Monkey (1998)',
  'Babe (1995)',
  'Baby-Sitters Club, The (1995)',
  'Babyfever (1994)',
  'Babysitter, The (1995)',
  'Back to the Future (1985)',
  'Backbeat (1993)',
  'Bad Boys (1995)',
  'Bad Company (1995)',
  'Bad Girls (1994)',
  'Bad Moon (1996)',
  'Bad Taste (1987)',
  'Ballad of Narayama, The (Narayama Bushiko) (1958)',
  'Balto (1995)',
  'Bananas (1971)',
  'Band Wagon, The (1953)',
  'Barb Wire (1996)',
  'Barbarella (1968)',
  'Barcelona (1994)',
  'Basic Instinct (1992)',
  'Basketball Diaries, The (1995)',
  'Basquiat (1996)',
  'Bastard Out of Carolina (1996)',
  'Batman & Robin (1997)',
  'Batman (1989)',
  'Batman Forever (1995)',
  'Batman Returns (1992)',
  'Baton Rouge (1988)',
  'Bean (1997)',
  'Beans of Egypt, Maine, The (1994)',
  'Beat the Devil (1954)',
  'Beautician and the Beast, The (1997)',
  'Beautiful Girls (1996)',
  'Beautiful Thing (1996)',
  'Beauty and the Beast (1991)',
  'Beavis and Butt-head Do America (1996)',
  'Bed of Roses (1996)',
  'Bedknobs and Broomsticks (1971)',
  'Before Sunrise (1995)',
  'Before and After (1996)',
  'Before the Rain (Pred dozhdot) (1994)',
  'Being Human (1993)',
  'Being There (1979)',
  'Believers, The (1987)',
  'Belle de jour (1967)',
  'Ben-Hur (1959)',
  'Benny & Joon (1993)',
  'Bent (1997)',
  'Best Men (1997)',
  'Best of the Best 3: No Turning Back (1995)',
  'Better Off Dead... (1985)',
  'Beverly Hillbillies, The (1993)',
  'Beverly Hills Cop III (1994)',
  'Beverly Hills Ninja (1997)',
  'Bewegte Mann, Der (1994)',
  'Beyond Bedlam (1993)',
  'Beyond Rangoon (1995)',
  'Bhaji on the Beach (1993)',
  'Big Bang Theory, The (1994)',
  'Big Blue, The (Grand bleu, Le) (1988)',
  'Big Bully (1996)',
  'Big Green, The (1995)',
  'Big Lebowski, The (1998)',
  'Big Night (1996)',
  'Big One, The (1997)',
  'Big Sleep, The (1946)',
  'Big Squeeze, The (1996)',
  'Billy Madison (1995)',
  'Bio-Dome (1996)',
  'Bird of Prey (1996)',
  'Birdcage, The (1996)',
  'Birds, The (1963)',
  'Bitter Moon (1992)',
  'Bitter Sugar (Azucar Amargo) (1996)',
  'Black Beauty (1994)',
  'Black Sheep (1996)',
  'Blade Runner (1982)',
  'Blink (1994)',
  'Bliss (1997)',
  'Blob, The (1958)',
  'Blood & Wine (1997)',
  'Blood Beach (1981)',
  "Blood For Dracula (Andy Warhol's Dracula) (1974)",
  'Bloodsport 2 (1995)',
  'Bloody Child, The (1996)',
  'Blown Away (1994)',
  'Blue Angel, The (Blaue Engel, Der) (1930)',
  'Blue Chips (1994)',
  'Blue Sky (1994)',
  'Blue in the Face (1995)',
  'Blues Brothers 2000 (1998)',
  'Blues Brothers, The (1980)',
  'Bob Roberts (1992)',
  'Body Parts (1991)',
  'Body Snatcher, The (1945)',
  'Body Snatchers (1993)',
  'Bogus (1996)',
  'Bonheur, Le (1965)',
  'Bonnie and Clyde (1967)',
  'Boogie Nights (1997)',
  'Boomerang (1992)',
  'Boot, Das (1981)',
  'Booty Call (1997)',
  'Bottle Rocket (1996)',
  'Bound (1996)',
  'Boxing Helena (1993)',
  "Boy's Life 2 (1997)",
  'Boys (1996)',
  'Boys Life (1995)',
  'Boys in Venice (1996)',
  'Boys of St. Vincent, The (1993)',
  'Boys on the Side (1995)',
  'Boys, Les (1997)',
  'Brady Bunch Movie, The (1995)',
  'Braindead (1992)',
  "Bram Stoker's Dracula (1992)",
  'Brassed Off (1996)',
  'Braveheart (1995)',
  'Brazil (1985)',
  'Bread and Chocolate (Pane e cioccolata) (1973)',
  'Breakdown (1997)',
  "Breakfast at Tiffany's (1961)",
  'Breaking the Waves (1996)',
  'Bride of Frankenstein (1935)',
  'Bridge on the River Kwai, The (1957)',
  'Bridges of Madison County, The (1995)',
  'Bringing Up Baby (1938)',
  'Broken Arrow (1996)',
  'Broken English (1996)',
  'Bronx Tale, A (1993)',
  'Brother Minister: The Assassination of Malcolm X (1994)',
  "Brother's Kiss, A (1997)",
  'Brothers McMullen, The (1995)',
  'Brothers in Trouble (1995)',
  'Browning Version, The (1994)',
  'Buddy (1997)',
  'Bulletproof (1996)',
  'Bullets Over Broadway (1994)',
  'Burnt By the Sun (1994)',
  'Burnt Offerings (1976)',
  'Bushwhacked (1995)',
  'Butch Cassidy and the Sundance Kid (1969)',
  'Butcher Boy, The (1998)',
  'Butterfly Kiss (1995)',
  'Bye Bye, Love (1995)',
  "C'est arriv� pr�s de chez vous (1992)",
  'Cabin Boy (1994)',
  'Cable Guy, The (1996)',
  'Calendar Girl (1993)',
  'Canadian Bacon (1994)',
  'Candidate, The (1972)',
  'Candyman (1992)',
  'Candyman: Farewell to the Flesh (1995)',
  'Cape Fear (1962)',
  'Cape Fear (1991)',
  'Captives (1994)',
  'Career Girls (1997)',
  'Careful (1992)',
  "Carlito's Way (1993)",
  'Carmen Miranda: Bananas Is My Business (1994)',
  'Caro Diario (Dear Diary) (1994)',
  'Carpool (1996)',
  'Carrie (1976)',
  'Carried Away (1996)',
  'Carrington (1995)',
  'Casablanca (1942)',
  'Casino (1995)',
  'Casper (1995)',
  'Castle Freak (1995)',
  'Cat People (1982)',
  'Cat on a Hot Tin Roof (1958)',
  "Cats Don't Dance (1997)",
  'Catwalk (1995)',
  'Caught (1996)',
  'Celestial Clockwork (1994)',
  'Celluloid Closet, The (1995)',
  'Celtic Pride (1996)',
  'Cement Garden, The (1993)',
  'Cemetery Man (Dellamorte Dellamore) (1994)',
  'Century (1993)',
  'Chain Reaction (1996)',
  'Chairman of the Board (1998)',
  'Chamber, The (1996)',
  'Charade (1963)',
  'Chasers (1994)',
  'Chasing Amy (1997)',
  'Children of the Corn: The Gathering (1996)',
  'Children of the Revolution (1996)',
  'Chinatown (1974)',
  'Christmas Carol, A (1938)',
  'Chungking Express (1994)',
  'Ciao, Professore! (1993)',
  'Cinderella (1950)',
  'Cinema Paradiso (1988)',
  'Circle of Friends (1995)',
  'Citizen Kane (1941)',
  'Citizen Ruth (1996)',
  'City Hall (1996)',
  "City Slickers II: The Legend of Curly's Gold (1994)",
  'City of Angels (1998)',
  'City of Industry (1997)',
  'City of Lost Children, The (1995)',
  'Clean Slate (1994)',
  'Clean Slate (Coup de Torchon) (1981)',
  'Clear and Present Danger (1994)',
  'Clerks (1994)',
  'Client, The (1994)',
  'Cliffhanger (1993)',
  'Clockers (1995)',
  'Clockwork Orange, A (1971)',
  'Close Shave, A (1995)',
  'Clueless (1995)',
  'Cobb (1994)',
  'Cold Comfort Farm (1995)',
  'Coldblooded (1995)',
  'Collectionneuse, La (1967)',
  'Colonel Chabert, Le (1994)',
  'Color of Night (1994)',
  'Commandments (1997)',
  'Con Air (1997)',
  'Conan the Barbarian (1981)',
  'Condition Red (1995)',
  'Coneheads (1993)',
  'Congo (1995)',
  'Conspiracy Theory (1997)',
  'Contact (1997)',
  'Contempt (M�pris, Le) (1963)',
  'Convent, The (Convento, O) (1995)',
  'Cook the Thief His Wife & Her Lover, The (1989)',
  'Cool Hand Luke (1967)',
  'Cool Runnings (1993)',
  'Cop Land (1997)',
  'Cops and Robbersons (1994)',
  'Copycat (1995)',
  'Corrina, Corrina (1994)',
  'Cosi (1996)',
  'Country Life (1994)',
  'Courage Under Fire (1996)',
  'Cowboy Way, The (1994)',
  'Craft, The (1996)',
  'Crash (1996)',
  'Crimson Tide (1995)',
  'Critical Care (1997)',
  'Cronos (1992)',
  'Crooklyn (1994)',
  'Crossfire (1947)',
  'Crossing Guard, The (1995)',
  'Crow, The (1994)',
  'Crow: City of Angels, The (1996)',
  'Crows and Sparrows (1949)',
  'Crucible, The (1996)',
  'Crude Oasis, The (1995)',
  'Crumb (1994)',
  'Cry, the Beloved Country (1995)',
  'Crying Game, The (1992)',
  'Curdled (1996)',
  'Cure, The (1995)',
  'Cutthroat Island (1995)',
  'Cyclo (1995)',
  'Cyrano de Bergerac (1990)',
  'C�r�monie, La (1995)',
  'D3: The Mighty Ducks (1996)',
  'Dadetown (1995)',
  'Daens (1992)',
  'Damsel in Distress, A (1937)',
  'Dances with Wolves (1990)',
  'Dangerous Beauty (1998)',
  'Dangerous Ground (1997)',
  'Dangerous Minds (1995)',
  "Daniel Defoe's Robinson Crusoe (1996)",
  "Dante's Peak (1997)",
  'Dark City (1998)',
  'Dave (1993)',
  'Davy Crockett, King of the Wild Frontier (1955)',
  'Day the Earth Stood Still, The (1951)',
  'Day the Sun Turned Cold, The (Tianguo niezi) (1994)',
  'Daylight (1996)',
  'Days of Thunder (1990)',
  'Daytrippers, The (1996)',
  'Dazed and Confused (1993)',
  'Dead Man (1995)',
  'Dead Man Walking (1995)',
  'Dead Poets Society (1989)',
  'Dead Presidents (1995)',
  'Dear God (1996)',
  'Death and the Maiden (1994)',
  'Death in Brunswick (1991)',
  'Death in the Garden (Mort en ce jardin, La) (1956)',
  'Deceiver (1997)',
  'Deconstructing Harry (1997)',
  'Deep Rising (1998)',
  'Deer Hunter, The (1978)',
  'Delicatessen (1991)',
  'Delta of Venus (1994)',
  'Demolition Man (1993)',
  'Denise Calls Up (1995)',
  'Desert Winds (1995)',
  'Designated Mourner, The (1997)',
  'Desperado (1995)',
  'Desperate Measures (1998)',
  'Destiny Turns on the Radio (1995)',
  'Devil in a Blue Dress (1995)',
  "Devil's Advocate, The (1997)",
  "Devil's Own, The (1997)",
  'Diabolique (1996)',
  'Dial M for Murder (1954)',
  'Die Hard (1988)',
  'Die Hard 2 (1990)',
  'Die Hard: With a Vengeance (1995)',
  'Die xue shuang xiong (Killer, The) (1989)',
  'Dingo (1992)',
  'Dirty Dancing (1987)',
  'Disclosure (1994)',
  'Diva (1981)',
  'Dolores Claiborne (1994)',
  'Don Juan DeMarco (1995)',
  "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
  'Donnie Brasco (1997)',
  'Doom Generation, The (1995)',
  'Doors, The (1991)',
  'Double Happiness (1994)',
  'Double Team (1997)',
  'Double vie de V�ronique, La (Double Life of Veronique, The) (1991)',
  'Down Periscope (1996)',
  'Down by Law (1986)',
  'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
  'Dracula: Dead and Loving It (1995)',
  'Dragonheart (1996)',
  'Dream Man (1995)',
  'Dream With the Fishes (1997)',
  'Drop Dead Fred (1991)',
  'Drop Zone (1994)',
  'Drunks (1995)',
  'Duck Soup (1933)',
  'Dumb & Dumber (1994)',
  'Dumbo (1941)',
  'Dunston Checks In (1996)',
  'Duoluo tianshi (1995)',
  'E.T. the Extra-Terrestrial (1982)',
  'East of Eden (1955)',
  'Eat Drink Man Woman (1994)',
  'Ed (1996)',
  'Ed Wood (1994)',
  "Ed's Next Move (1996)",
  'Eddie (1996)',
  'Edge, The (1997)',
  'Eighth Day, The (1996)',
  'Emma (1996)',
  'Empire Strikes Back, The (1980)',
  'Enchanted April (1991)',
  'Endless Summer 2, The (1994)',
  "Enfer, L' (1994)",
  'English Patient, The (1996)',
  'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)',
  'Entertaining Angels: The Dorothy Day Story (1996)',
  'Eraser (1996)',
  'Escape from L.A. (1996)',
  'Escape from New York (1981)',
  'Escape to Witch Mountain (1975)',
  'Etz Hadomim Tafus (Under the Domin Tree) (1994)',
  "Eve's Bayou (1997)",
  'Even Cowgirls Get the Blues (1993)',
  'Evening Star, The (1996)',
  'Event Horizon (1997)',
  'Everest (1998)',
  'Every Other Weekend (1990)',
  'Everyone Says I Love You (1996)',
  'Evil Dead II (1987)',
  'Evita (1996)',
  'Excess Baggage (1997)',
  'Executive Decision (1996)',
  'Exit to Eden (1994)',
  'Exotica (1994)',
  'Extreme Measures (1996)',
  'Eye for an Eye (1996)',
  "Eye of Vichy, The (Oeil de Vichy, L') (1993)",
  'Face/Off (1997)',
  'Faces (1968)',
  'Fair Game (1995)',
  'FairyTale: A True Story (1997)',
  'Faithful (1996)',
  'Fall (1997)',
  'Fallen (1998)',
  'Falling in Love Again (1980)',
  'Family Thing, A (1996)',
  'Fan, The (1996)',
  'Fantasia (1940)',
  'Far From Home: The Adventures of Yellow Dog (1995)',
  'Farewell My Concubine (1993)',
  'Farewell to Arms, A (1932)',
  'Fargo (1996)',
  'Farinelli: il castrato (1994)',
  'Farmer & Chase (1995)',
  'Fast, Cheap & Out of Control (1997)',
  'Faster Pussycat! Kill! Kill! (1965)',
  'Fatal Instinct (1993)',
  'Father of the Bride (1950)',
  'Father of the Bride Part II (1995)',
  "Fathers' Day (1997)",
  'Faust (1994)',
  'Fausto (1993)',
  'Favor, The (1994)',
  'Fear (1996)',
  'Fear of a Black Hat (1993)',
  'Fear, The (1995)',
  'Fearless (1993)',
  'Feast of July (1995)',
  'Feeling Minnesota (1996)',
  'Female Perversions (1996)',
  'Field of Dreams (1989)',
  'Fierce Creatures (1997)',
  'Fifth Element, The (1997)',
  'Fille seule, La (A Single Girl) (1995)',
  'Fire Down Below (1997)',
  'Fire on the Mountain (1996)',
  'Firestorm (1998)',
  'Firm, The (1993)',
  'First Kid (1996)',
  'First Knight (1995)',
  'First Wives Club, The (1996)',
  'Fish Called Wanda, A (1988)',
  'Fled (1996)',
  'Flesh and Bone (1993)',
  'Flintstones, The (1994)',
  'Flipper (1996)',
  'Flirt (1995)',
  'Flirting With Disaster (1996)',
  'Flower of My Secret, The (Flor de mi secreto, La) (1995)',
  'Flubber (1997)',
  'Fluke (1995)',
  'Fly Away Home (1996)',
  'Fog, The (1980)',
  'Fools Rush In (1997)',
  'For Ever Mozart (1996)',
  'For Love or Money (1993)',
  'For Richer or Poorer (1997)',
  'For Whom the Bell Tolls (1943)',
  'For the Moment (1994)',
  'Forbidden Christ, The (Cristo proibito, Il) (1950)',
  'Forbidden Planet (1956)',
  'Foreign Correspondent (1940)',
  'Foreign Student (1994)',
  'Forget Paris (1995)',
  'Forrest Gump (1994)',
  'Four Days in September (1997)',
  'Four Rooms (1995)',
  'Four Weddings and a Funeral (1994)',
  'Fox and the Hound, The (1981)',
  'Foxfire (1996)',
  'Frankie Starlight (1995)',
  'Free Willy (1993)',
  'Free Willy 2: The Adventure Home (1995)',
  'Free Willy 3: The Rescue (1997)',
  'Freeway (1996)',
  'French Kiss (1995)',
  'French Twist (Gazon maudit) (1995)',
  'Fresh (1994)',
  'Friday (1995)',
  'Fried Green Tomatoes (1991)',
  'Frighteners, The (1996)',
  'Frisk (1995)',
  'From Dusk Till Dawn (1996)',
  'Fugitive, The (1993)',
  'Full Metal Jacket (1987)',
  'Full Monty, The (1997)',
  'Full Speed (1996)',
  'Funeral, The (1996)',
  'Funny Face (1957)',
  'Further Gesture, A (1996)',
  'G.I. Jane (1997)',
  'Gabbeh (1996)',
  'Game, The (1997)',
  'Gandhi (1982)',
  'Gang Related (1997)',
  'Garden of Finzi-Contini, The (Giardino dei Finzi-Contini, Il) (1970)',
  'Gaslight (1944)',
  'Gate of Heavenly Peace, The (1995)',
  'Gattaca (1997)',
  'Gay Divorcee, The (1934)',
  'George of the Jungle (1997)',
  'Georgia (1995)',
  'Germinal (1993)',
  'Geronimo: An American Legend (1993)',
  'Get Shorty (1995)',
  'Get on the Bus (1996)',
  'Getaway, The (1994)',
  'Getting Away With Murder (1996)',
  'Getting Even with Dad (1994)',
  'Ghost (1990)',
  'Ghost and Mrs. Muir, The (1947)',
  'Ghost and the Darkness, The (1996)',
  'Ghost in the Shell (Kokaku kidotai) (1995)',
  'Ghosts of Mississippi (1996)',
  'Giant (1956)',
  'Gigi (1958)',
  "Gilligan's Island: The Movie (1998)",
  'Girl 6 (1996)',
  'Girl in the Cadillac (1995)',
  'Girls Town (1996)',
  'Glass Shield, The (1994)',
  'Glengarry Glen Ross (1992)',
  'Glimmer Man, The (1996)',
  'Glory (1989)',
  'Go Fish (1994)',
  'Godfather, The (1972)',
  'Godfather: Part II, The (1974)',
  'Gold Diggers: The Secret of Bear Mountain (1995)',
  'Golden Earrings (1947)',
  'GoldenEye (1995)',
  "Gone Fishin' (1997)",
  'Gone with the Wind (1939)',
  'Good Man in Africa, A (1994)',
  'Good Morning (1971)',
  'Good Will Hunting (1997)',
  'Good, The Bad and The Ugly, The (1966)',
  'GoodFellas (1990)',
  'Goofy Movie, A (1995)',
  'Gordy (1995)',
  'Grace of My Heart (1996)',
  'Graduate, The (1967)',
  'Grand Day Out, A (1992)',
  'Grass Harp, The (1995)',
  'Grateful Dead (1995)',
  'Grease (1978)',
  'Grease 2 (1982)',
  'Great Day in Harlem, A (1994)',
  'Great Dictator, The (1940)',
  'Great Escape, The (1963)',
  'Great Expectations (1998)',
  'Great Race, The (1965)',
  'Great White Hype, The (1996)',
  "Gridlock'd (1997)",
  'Grifters, The (1990)',
  'Grosse Fatigue (1994)',
  'Grosse Pointe Blank (1997)',
  'Groundhog Day (1993)',
  'Grumpier Old Men (1995)',
  'Guantanamera (1994)',
  'Guilty as Sin (1993)',
  'Gumby: The Movie (1995)',
  'Hackers (1995)',
  'Half Baked (1998)',
  'Halloween: The Curse of Michael Myers (1995)',
  'Hamlet (1996)',
  'Hana-bi (1997)',
  'Happy Gilmore (1996)',
  'Hard Eight (1996)',
  'Hard Rain (1998)',
  'Hard Target (1993)',
  'Harlem (1993)',
  'Harold and Maude (1971)',
  'Harriet the Spy (1996)',
  'Hate (Haine, La) (1995)',
  'Haunted World of Edward D. Wood Jr., The (1995)',
  'He Walked by Night (1948)',
  'Head Above Water (1996)',
  'Hear My Song (1991)',
  'Hearts and Minds (1996)',
  'Heat (1995)',
  'Heathers (1989)',
  'Heaven & Earth (1993)',
  "Heaven's Prisoners (1996)",
  'Heavenly Creatures (1994)',
  'Heavy (1995)',
  'Heavy Metal (1981)',
  'Heavyweights (1994)',
  'Hedd Wyn (1992)',
  'Heidi Fleiss: Hollywood Madam (1995) ',
  'Hellraiser: Bloodline (1996)',
  'Henry V (1989)',
  'Herbie Rides Again (1974)',
  'Hercules (1997)',
  'Here Comes Cookie (1935)',
  'Hideaway (1995)',
  'High Noon (1952)',
  'High School High (1996)',
  'Higher Learning (1995)',
  'Highlander (1986)',
  'Highlander III: The Sorcerer (1994)',
  'His Girl Friday (1940)',
  'Hollow Reed (1996)',
  'Homage (1995)',
  'Home Alone (1990)',
  'Home Alone 3 (1997)',
  'Home for the Holidays (1995)',
  'Homeward Bound II: Lost in San Francisco (1996)',
  'Homeward Bound: The Incredible Journey (1993)',
  'Hoodlum (1997)',
  'Hoop Dreams (1994)',

In [26]:
genre_data = pd.DataFrame(genre_dict)
genre_data

                                movie_title                    info
0                 'Til There Was You (1997)          Drama Romance
1                              1-900 (1994)                Romance
2                     101 Dalmatians (1996)      Children's Comedy
3                       12 Angry Men (1957)                  Drama
4                                187 (1997)                  Drama
...                                     ...                     ...
1659                   Young Guns II (1990)  Action Comedy Western
1660  Young Poisoner's Handbook, The (1995)                  Crime
1661                Zeus and Roxanne (1997)             Children's
1662                                unknown
1663     � k�ldum klaka (Cold Fever) (1994)           Comedy Drama

[1664 rows x 2 columns]

In [27]:
#Define Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vector = TfidfVectorizer(stop_words='english')
genre_data['info'] = genre_data['info'].fillna('')
tfidf_matrix = tfidf_vector.fit_transform(genre_data['info'])

#Linear Kernel
from sklearn.metrics.pairwise import linear_kernel
sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

#Indices
indices = pd.Series(genre_data.index, index=genre_data['movie_title']).drop_duplicates()


#Recommender Function
def content_based_recommender(title, sim_scores=sim_matrix):
    idx = indices[title]
    sim_scores = list(enumerate(sim_matrix[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    titles = []
    scores ={'gen_score':[]}
    for x,y in sim_scores:
        titles.append(genre_data.loc[x,'movie_title'])
        scores['gen_score'].append(y)
    ans = pd.DataFrame(index=titles,data = scores)
    ans.index.name = 'movie_title'
    return ans
    
genre_similarity_of_return_of_the_jedi = content_based_recommender('Return of the Jedi (1983)')

In [28]:
genre_similarity_of_return_of_the_jedi.head(10)

                                            gen_score
movie_title
Return of the Jedi (1983)                    1.000000
Star Wars (1977)                             1.000000
Empire Strikes Back, The (1980)              0.978205
Starship Troopers (1997)                     0.941871
Independence Day (ID4) (1996)                0.850116
Mars Attacks! (1996)                         0.814771
Judge Dredd (1995)                           0.812121
Jurassic Park (1993)                         0.812121
Star Trek III: The Search for Spock (1984)   0.812121
Star Trek IV: The Voyage Home (1986)         0.812121

In [29]:
similar_to_returnofthejedi = similar_to_returnofthejedi.merge(genre_similarity_of_return_of_the_jedi,on='movie_title')

In [30]:
similar_to_returnofthejedi.sort_values(by=['gen_score','correlation_ratings','correlation_age'],inplace=True,ascending=False)
similar_to_returnofthejedi

,correlation_ratings,correlation_age,gen_score
movie_title,,,
Return of the Jedi (1983),1.000000,1.0,1.000000
Star Wars (1977),0.672556,1.0,1.000000
"Empire Strikes Back, The (1980)",0.721229,1.0,0.978205
Starship Troopers (1997),0.134605,1.0,0.941871
Independence Day (ID4) (1996),0.293522,1.0,0.850116
...,...,...,...
"Woman in Question, The (1950)",NaN,NaN,0.000000
"Wooden Man's Bride, The (Wu Kui) (1994)",NaN,NaN,0.000000
Yankee Zulu (1994),NaN,NaN,0.000000
You So Crazy (1994),NaN,NaN,0.000000
� k�ldum klaka (Cold Fever) (1994),NaN,NaN,0.000000

In [31]:
similar_to_returnofthejedi = similar_to_returnofthejedi.merge(ratings_and_count,on='movie_title')
similar_to_returnofthejedi = similar_to_returnofthejedi[similar_to_returnofthejedi['count']>100]
similar_to_returnofthejedi.head(10)

,movie_title,correlation_ratings,correlation_age,gen_score,movie_id,rating,count
0,Return of the Jedi (1983),1.000000,1.0,1.000000,181,4.007890,507
1,Star Wars (1977),0.672556,1.0,1.000000,50,4.358491,583
2,"Empire Strikes Back, The (1980)",0.721229,1.0,0.978205,172,4.204360,367
3,Starship Troopers (1997),0.134605,1.0,0.941871,271,3.232227,211
4,Independence Day (ID4) (1996),0.293522,1.0,0.850116,121,3.438228,429
5,Mars Attacks! (1996),0.034253,1.0,0.814771,235,2.847926,217
6,Star Trek III: The Search for Spock (1984),0.306713,1.0,0.812121,229,3.111111,171
7,Jurassic Park (1993),0.293962,1.0,0.812121,82,3.720307,261
8,Star Trek: Generations (1994),0.293877,1.0,0.812121,380,3.336207,116
9,Star Trek: First Contact (1996),0.276310,1.0,0.812121,222,3.660274,365